<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">Marissa Belle</a>.</h2>
  <div id="bio">
    <p>I usually talk too much, blog gives me an another place to let out my thought that helps me and hopefully others at the same time.</p>
  </div>
  <div id="tags">
    {% include tags.html %}
  </div>
</nav>
